<!--Декларация определяет этот документ как HTML5-->
<!DOCTYPE html>
{% load static %}
<!--элемент является корневым элементом HTML-страницы-->
<html>
<!--элемент содержит мета-информацию о документе-->
    <head>
<!-- элемент задает заголовок документа-->
        <title>Zach Helper</title>
<!-- элемент должен определить кодировку UTF-8-->
        <meta charset="UTF-8">
<!-- элемент с именем = "видовой экран" делает веб-сайт хорошо выглядеть на всех устройствах и разрешение экрана-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!--        ___________________________________________________________________-->
        <style>
body {
            font-family: Arial, Helvetica, sans-serif;
        }
</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--      добавил по ссылке шрифты с гугла-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/abf2dbea94.js" crossorigin="anonymous"></script>
    <!--        ЗАРАБОТАЛО!!!!-->
    <link rel="stylesheet" href='{% static "css/my_css.css" %}' />
</head>

<!--элемент содержит видимое содержимое страницы-->
<body>
<!--Заголовок обычно находится в верхней части веб-сайта-->
<!--элемент определяет большой заголовок-->
    <nav class="navbar navbar-expand navbar - light" style="background-color: #778899;">
      <div class="container-fluid">
         <h4><span class="badge bg-dark">Zach</span></h4>
          <h6>&nbsp;&nbsp;&nbsp;&nbsp;Your personal helper</h6>

<!--        меню гамбургера, у нас скрыта, открывается, когда сворачивается сайт по размеру-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
<!--        сворачиваемая область меню-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--ms-auto - размещает справа, me - слева-->
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <button type="button" class="btn btn-outline-light">Home</button>
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
<!--dropdown - выпадающий список-->
                  <li class="nav-item dropdown">
<!-- data-toggle="dropdown" - родитель для выпадающего пункта меню-->

                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page"
                         href="#"><i class="fa-regular fa-user"></i></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Sign-up</a>
                      <a class="dropdown-item" href="#">Login</a>
                </div>
                </li>
    <!--              значок search-->
                  <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
              </ul>


        </div>
      </div>
    </nav>
<!--<div class="header">-->

<!--    <h3>Zach</h3>-->
<!--&lt;!&ndash;элемент определяет абзац&ndash;&gt;-->
<!--    <p>Your personal helper</p>-->
<!--&lt;!&ndash; Панель навигации содержит список ссылок,&ndash;&gt;-->
<!--    <div class="navbar">-->
<!--      <a href="#">Home</a>-->
<!--      <a href="#" class="right">Sign-up</a>-->
<!--        <a href="#" class="right">Login</a>-->
<!--        <a href="#" class="right">Search</a>-->
<!--</div>-->

<!--</div>-->
<!--макет из 2 столбцов, разделенный на "боковое содержимое" и "основное содержимое".-->
    <div class="row">
      <div class="side">...</div>
      <div class="main">...</div>
    </div>
    <div class="footer">
      <h2>Footer</h2>
</div>

</body>
</html>