<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <p></p>
<!--    если action пустой, то это означает, что обработка формы идёт на этой же странице/method="post"
потому-что отправляем данные на сервер/(% csfr_token %) - всегда крепим при использовании метода post-->
        <form method="post">
            {% csrf_token %}
<!--            через цикл форма ровнее-->
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Sing-up</button>
        </form>
</body>
</html>